.SocialCard-container {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.SocialCard-image {
    border: 1px solid maroon;
    display: flex;
    justify-content: center;
    align-content: center;
}

.SocialCard-summary {
    position: absolute;
    top: 50px;
    left: 50px;
}

.SocialCard-interactions {
    background-color: aliceblue;
    width: 100%;
    border: 1px solid maroon;
}

.SocialCard-button {
    appearance: none;
    border: none;
    border-radius: 10px;
    width: 3rem;
    background-color: cadetblue;
    margin: 12px;
}

.circle {
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    text-align: center;
}

.like {
    background-color: lightskyblue;
}

.dislike {
    background-color: lightcoral;
}