
.SocialCard-container {
    width: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 3px 10px #6d6a6a;
}
.SocialCard-image {
    display: flex;
    justify-content: center;
    align-content: center;
}

.SocialCard-image img {
    border-radius: 3px;
}

.SocialCard-summary{
    width: 90%;
    height: 0;
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: space-between;
}
.SocialCard-interactions{
    width: inherit;
    border: 1px solid rgba(125, 125, 125, 0.075);
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.SocialCard-button {
    appearance: none;
    border: none;
    border-radius: 3px;
    width: 3rem;
    height: 1.25rem;
    background-color: grey;
    margin: 0.5rem 1.5rem ;
}

.circle {
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like {
    background-color: lightskyblue;
}
.dislike {
    background-color: lightcoral;
}